Symmetry

RFC 7798 Section 7.1 says: 

"          Informative note: There are 32 values of profile-id, and
            there are 32 flags in profile-compatibility-indicator, each
            flag corresponding to one value of profile-id.  According to
            [HEVC](https://www.rfc-editor.org/rfc/rfc7798#ref-HEVC) version 1 in [HEVC], when more than one of the 32 flags
            is set for a bitstream, the bitstream would comply with all
            the profiles corresponding to the set flags.  However, in a
            draft of HEVC version 2 in [[HEVCv2](https://www.rfc-editor.org/rfc/rfc7798#ref-HEVCv2)], Subclause A.3.5, 19
            Format Range Extensions profiles have been specified, all
            using the same value of profile-id (4), differentiated by
            some of the 48 bits in interop-constraints; this (rather
            unexpected way of profile signaling) means that one of the
            32 flags may correspond to multiple profiles.  To be able to
            support whatever HEVC extension profile that might be
            specified and indicated using profile-space, profile-id,
            profile-compatibility-indicator, and interop-constraints in
            the future, it would be safe to require symmetric use of
            these parameters in SDP offer/answer unless recv-sub-layer-
            id is included in the SDP answer for choosing one of the
            sub-layers offered."

Do we need to require symmetric parameter use as recommended here? 

Relating to symmetry, RFC 7798 Section 7.2.2 says: 

"    The parameters identifying a media format configuration for HEVC
      are profile-space, profile-id, tier-flag, level-id, interop-
      constraints, profile-compatibility-indicator, and tx-mode.  These
      media configuration parameters, except level-id, MUST be used
      symmetrically when the answerer does not include recv-sub-layer-id"