max-fps/max-br

[From Jianlin Qiu:](https://webrtc-review.googlesource.com/c/src/+/315900/comments/1e5bea19_68b53f91?tab=comments) 

About max-fps/max-br
I don't think it is good idea to signal them in SDP. We're already trying to avoid SDP mungling for bandwidth, we should avoid bring this back.

the VP8 equivalents of those, max-fr and max-fs are also a MUST in RFC 7741 yet the missing support for them one of the longest-standing WebRTC bugs:
https://bugs.chromium.org/p/webrtc/issues/detail?id=2488

I think we should keep on encouraging support for this.

max-fps and max-br H.265 parameters have a different meaning than max-fr/max-fs in VP8.  In VP8, max-fr and max-fs are the only parameters indicating receive capabilities.

In H.265, we have profile/tier/level negotiation, so other parameters such as max-fps/max-br indicate additional receive constraints (for example, a receiver limited in maximum framerate/bandwidth beyond the indicated profile/tier/level-id).  Main profile level-id 3.1 can by default receive 1280×720@33.7 fps.  So max-fps is only needed if the receiver cannot handle 33.7 fps.

FYI, RFC 7798 Section 7.2.2 says: 

"   o  The capability parameters max-lsr, max-lps, max-cpb, max-dpb, max-
      br, max-tr, and max-tc MAY be used to declare further capabilities
      of the offerer or answerer for receiving.  These parameters MUST
      NOT be present when the direction attribute is sendonly."

AVTCORE VI slide is here: https://docs.google.com/presentation/d/1I944U1DmQ4C2f5r5_uEJiOm2N9s4x4B0c1-SPTPPuS0/edit#slide=id.g2473a55bcdf_0_69

Do we want to recommend removal? 

Closed via PR #15